containers/mule/servicebase/src/main/app/servicebase.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns:jms="http://www.mulesoft.org/schema/mule/jms" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" version="CE-3.6.1"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/jms http://www.mulesoft.org/schema/mule/jms/current/mule-jms.xsd">
	<http:listener-config name="HTTP_service_base"
		host="0.0.0.0" port="8099" basePath="/" doc:name="HTTP Listener Configuration" />
	<http:request-config name="HTTP_Autobot_riverside"
		host="riversideparramatta.com.au" port="80" basePath="lyris-whats-on-newsletter"
		doc:name="HTTP Request Configuration" />
	<http:request-config name="HTTP_file" host="0.0.0.0"
		port="4441" doc:name="HTTP Request Configuration" />
	<http:request-config name="HTTP_POST" host="0.0.0.0"
		port="4442" basePath="/" doc:name="HTTP Request Configuration" />
    <flow name="servicebaseFlow1">
        <http:listener config-ref="HTTP_service_base" path="http" doc:name="HTTP-8099">
            <http:response-builder statusCode="200" reasonPhrase="sucess"/>
            <http:error-response-builder statusCode="400" reasonPhrase="bad request"/>
        </http:listener>
        <http:request config-ref="HTTP_POST" path="/" method="POST" doc:name="HTTP-4442"/>
        <logger message="http post #[payload]" level="INFO" doc:name="Http Listener result"/>
    </flow>
	<flow name="serviceHTTP/http">
		<http:listener config-ref="HTTP_service_base" path="file"
			doc:name="HTTP-8099">
			<http:response-builder statusCode="200" reasonPhrase="successful connection"/>
			<http:error-response-builder statusCode="400"
				reasonPhrase="bad connection" />
		</http:listener>
        <http:request config-ref="HTTP_file" path="/" method="POST" doc:name="HTTP-4441"/>
        <response>
            <logger message="Result from post file  ****** #[payload]" level="INFO" doc:name="listener result"/>
        </response>
	</flow>
</mule>
