containers/mule/fileToJMS/src/main/app/filetojms.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:file="http://www.mulesoft.org/schema/mule/file" xmlns:jms="http://www.mulesoft.org/schema/mule/jms" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" version="CE-3.5.0"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd
http://www.mulesoft.org/schema/mule/jms http://www.mulesoft.org/schema/mule/jms/current/mule-jms.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
    <jms:activemq-connector name="MachineLocalJMS" specification="1.1" username="admin" password="admin" brokerURL="tcp://machine:61616" validateConnections="true" persistentDelivery="true" doc:name="Active MQ" acknowledgementMode="CLIENT_ACKNOWLEDGE">
        <reconnect frequency="20000"/>
    </jms:activemq-connector>
    <flow name="getFile">
        <file:inbound-endpoint path="./in" moveToDirectory="./out" responseTimeout="10000" doc:name="Autobot-FileIn"/>
        <jms:outbound-endpoint exchange-pattern="request-response" queue="ab.file.in" connector-ref="MachineLocalJMS" doc:name="JMS-ab.file.in"/>
        <logger message="JMS insert result *** #[payload.JMSMessageID]" level="INFO" doc:name="Logger"/>
    </flow>
    <flow name="filetojmsFlow">
        <http:inbound-endpoint exchange-pattern="request-response" host="localhost" port="4441" doc:name="HTTP"/>
        <flow-ref name="getFile" doc:name="getFile"/>
        <byte-array-to-string-transformer doc:name="Byte Array to String"/>
    </flow>
</mule>
